/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --main-bg-color: #fbfaff;
  --main-color: #f09279;
  --scondary-color: #3d819d;
  --font-color: #707070;
}

/* GENERAL RULES */
body {
  font-family: Poppins, sans-serif;
  color: var(--font-color);
}

.btn {
  background-color: var(--main-color);
  color: #fff;
  width: 288px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.onboarding-btn {
  width: 144px;
}

section {
  height: 100vh;
}

/* WELCOME SCREE STYLING */
#welcome-screen {
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-screen h2 {
  font-weight: 700;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

/* ONBOARDING 1 STYLING */
#onboarding-one .container,
#onboarding-two .container {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#onboarding-one .container .onboarding-one-text,
#onboarding-two .container .onboarding-two-text {
  text-align: center;
}

#onboarding-one .container .onboarding-one-text h2,
#onboarding-two .container .onboarding-two-text h2 {
  margin-bottom: 32px;
}

#onboarding-one .container .onboarding-one-text p,
#onboarding-two .container .onboarding-two-text p {
  font-weight: 200;
  text-align: left;
}

#onboarding-one .onboarding-one-buttons,
#onboarding-two .onboarding-two-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#onboarding-one .onboarding-one-buttons .skip a,
#onboarding-two .onboarding-two-buttons .skip a {
  text-decoration: none;
  color: var(--scondary-color);
}
