/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --main-bg-color: #fbfaff;
  --main-color: #f09279;
  --scondary-color: #3d819d;
  --font-color: #707070;
}

/* GENERAL RULES */
body {
  font-family: Poppins, sans-serif;
  color: var(--font-color);
  font-size: 16px;
}

.btn {
  background-color: var(--main-color);
  color: #fff;
  width: 288px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.onboarding-btn {
  width: 144px;
}

section {
  height: 100vh;
}

/* WELCOME SCREE STYLING */
#welcome-screen {
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-screen h2 {
  font-weight: 700;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

/* ONBOARDING 1 STYLING */
#onboarding-one .container,
#onboarding-two .container,
#onboarding-three .container {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#onboarding-one .container .onboarding-one-text,
#onboarding-two .container .onboarding-two-text,
#onboarding-three .container .onboarding-three-text {
  text-align: center;
}

#onboarding-one .container .onboarding-one-text h2,
#onboarding-two .container .onboarding-two-text h2,
#onboarding-three .container .onboarding-three-text h2 {
  margin-bottom: 32px;
}

#onboarding-one .container .onboarding-one-text p,
#onboarding-two .container .onboarding-two-text p,
#onboarding-three .container .onboarding-three-text p {
  font-weight: 200;
  text-align: left;
}

#onboarding-one .onboarding-one-buttons,
#onboarding-two .onboarding-two-buttons,
#onboarding-two .onboarding-three-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#onboarding-one .onboarding-one-buttons .skip a,
#onboarding-two .onboarding-two-buttons .skip a {
  text-decoration: none;
  color: var(--scondary-color);
}

/* styling the login type page */
#logintype {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logintype .logintype-buttons {
  text-align: center;
}

.loginas {
  padding: 5%;
  float: left;
}

.or {
  padding: 5%;
  float: left;
}

/* Login as a  customer */
#login-customer {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-login {
  color: #3c819d;
  text-align: center;
}

.label {
  color: #80878f;
}

.input {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #ccc;
}
.label-input-div {
  display: grid;
}

.forgot {
  float: right;
}
.or2-options {
  text-align: center;
}

.login-with-buttons {
  border-radius: 10px;
  padding: 15px;
  color: #9ba1a8;
  border-color: #afafaf;
  background-color: #fff;
}

/* Create a user account */
#create-useraccount {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Login as a freelancer */
#login-freelancer {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Create a freelancer account */
#create-freelanceraccount {
  padding: 56px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
